ul.main__players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.header__transiciones {
  color: blue; }
  .header__transiciones:hover {
    transition: all, 1s;
    transform: scale(1.05); }

li {
  color: blue; }
  li:hover {
    transition: all, 1s;
    transform: scale(1.05); }

.main__transiciones {
  color: blue; }
  .main__transiciones:hover {
    transition: all, 1s;
    transform: scale(1.08); }

.footer__copyright {
  display: flex;
  padding: 5px;
  color: white;
  background-color: blue;
  border-radius: 10px;
  margin: 5px; }

.adaptar-titulo-columna, .header__titulo {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: blue; }

/* reseteo inicial */
* {
  margin: 0px;
  padding: 0px; }

header {
  background-color: white; }

/* definiendo estructura inicial desde el body con direccion de columna */
body {
  display: flex;
  flex-direction: column;
  background-color: #e3ebd5;
  border-radius: 10px;
  margin: 5px; }

/* aplicando neesting al header*/
.header__logo {
  height: 95px;
  width: 200px;
  margin: 10px; }

.header__titulo {
  font-size: 10px; }

.nav-link {
  color: #0a0af1 !important; }

/* depurando el menu sin la linea */
a {
  text-decoration: none; }

/* aplicando neesting  a section main */
.main__information {
  margin: 1px;
  font-size: 18px; }
  .main__information ul li {
    list-style: none; }

/* adaptando las imagenes para el aprovechamiento general adecuado*/
.img {
  max-width: 100%;
  max-height: 100%; }

/* aplicando nesting a clases de players*/
ul.main__players {
  padding: 10px;
  /* neesting */ }
  ul.main__players li {
    list-style: none;
    font-size: 20px;
    /* neesting */ }
    ul.main__players li img.main_image {
      padding-bottom: 1rem;
      width: 175px;
      height: 220px; }

/* TABLET */
/* se redefiniran las secciones para que se adapten a diseno responsivo en tablet*/
@media (min-width: 576px) and (max-width: 768px) {
  body {
    background-color: lightblue; }
  .main__information {
    font-size: 15px; }
  /* aplicando neesting al header*/
  .header__logo {
    margin: 5px;
    padding: 5px;
    height: 80px;
    width: 170px; }
  .header__titulo {
    flex-wrap: wrap;
    font-size: 10px;
    margin: 3px; } }

/* CELULAR */
/* se redefiniran las secciones para que se adapten a diseno responsivo en mobiles*/
@media (min-width: 320px) and (max-width: 575px) {
  body {
    background-color: #e6dfad; }
  .main__information {
    font-size: 15px; }
  /* aplicando neesting al header*/
  .header__logo {
    display: flex;
    align-items: flex-end;
    margin: 5px;
    padding: 5px;
    height: 80px;
    width: 170px; }
  .header__titulo {
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    /*color:$color-titulo;*/
    font-size: 10px;
    margin: 3px; }
  ul.main__players {
    padding: 15px; } }
