/* definicion de variables mas usadas para su reutilizacion */
/* definicion de mixin para reutilizacion */
ul.main__players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

/* se crean animaciones (transiciones y scalas*/
.nav-link {
  color: blue; }
  .nav-link:hover {
    transition: all, 1s;
    transform: scale(1.08); }

li {
  color: blue; }
  li:hover {
    transition: all, 1s;
    transform: scale(1.05); }

.main__transiciones {
  color: blue; }
  .main__transiciones:hover {
    transition: all, 1s;
    transform: scale(1.04); }

/* se crea estructura para el footer*/
.footer__copyright {
  display: flex;
  padding: 10px;
  color: white;
  background-color: blue;
  margin-top: auto; }

/* se define este modulo para reutilizarse en todos los encabezados de las paginas*/
.adaptar-titulo-columna, .header__titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue; }

/* reseteo inicial */
* {
  margin: 0px;
  padding: 0px; }

header {
  background-color: white; }

/* definiendo estructura inicial desde el body con direccion de columna */
body {
  display: flex;
  flex-direction: column;
  background-color: #e3ebd5;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 10px;
  /* para ajustar footer*/
  min-height: 100vh; }

/* aplicando neesting al header*/
.header__logo {
  height: 95px;
  width: 200px;
  margin: 10px; }

.header__titulo {
  padding-top: .5rem;
  font-size: .6rem; }

.nav-link {
  color: #0a0af1 !important;
  font-size: 1.1rem;
  font-weight: 600; }

/* depurando el menu sin la linea */
a {
  text-decoration: none; }

/* aplicando neesting  a section main */
.main__information {
  margin: 1px;
  font-size: 1.1rem;
  font-weight: 500; }
  .main__information ul li {
    list-style: none; }

/* adaptando las imagenes para el aprovechamiento general adecuado*/
.img {
  max-width: 100%;
  max-height: 100%; }

/* aplicando nesting a clases de players*/
ul.main__players {
  padding: 10px;
  /* neesting */ }
  ul.main__players li {
    list-style: none;
    font-size: 1.2rem;
    /* neesting */ }
    ul.main__players li img.main_image {
      padding-bottom: 1rem;
      width: 175px;
      height: 220px; }

/* definicion de estilos en ventana modal */
.modal-body {
  background-color: #e3ebd5; }

.modal-title {
  color: blue; }

/* TABLET */
/* se redefiniran las secciones para que se adapten a diseno responsivo en tablet*/
@media (min-width: 576px) and (max-width: 768px) {
  /* aplicando neesting al header*/
  .header__logo {
    margin: 5px;
    padding: 5px;
    height: 80px;
    width: 170px; } }

/* CELULAR */
/* se redefiniran las secciones para que se adapten a diseno responsivo en mobiles*/
@media (min-width: 321px) and (max-width: 575px) {
  .main__information {
    font-size: 1.0rem; }
  /* se oculta informacion en mobile (se podra ver en modo horizontal por los rangos de media querys */
  /* se eliminan todos los elementos despues del primer nodo*/
  .draw__semifinals :not(:first-child) {
    visibility: hidden; }
  /* se oculta ventana modal (disponible en forma horizontal */
  .modal-dialog {
    visibility: hidden; } }
