/* se define este modulo para reutilizarse en todos los encabezados de las paginas*/
.adaptar-titulo-columna{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:$color-titulo;
}

