@mixin flex-box-players{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
ul.main__players{
    @include flex-box-players;
}
/* ae crean animaciones (transiciones y scalas*/
$clases: (".nav-link": 1.08, "li":  1.05, ".main__transiciones":  1.08);
@mixin transitions{
    @each $clase, $value in $clases{
        #{$clase}{
            color: $color-transiciones;
            &:hover{
                transition: all, 1s;
                transform: scale($value);
            }
        }
    }
}
@include transitions;
/* se crea estructura para el footer*/
@mixin pie-de-pagina{
    display:flex;
    padding:5px;
    color: $color-footer;
    background-color: blue;
    border-radius: 10px;
    margin-top: auto;
  }
.footer__copyright {
    @include  pie-de-pagina;  
   
}




